<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mottohomete</title>

<link rel="stylesheet" href="static/css/style.css">

<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.fadethis.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>

</head>
<body>
    <header>
        
        
        <h1>motthomete</h1>
        <p>がんばるあなたを褒めて褒めて褒めちぎるサービス</p>
    </header>
    {% block content %}
    {% endblock %}
    
    
    <footer>
        <p>フッターがここに！</p>
    </footer>

</body>
</html>